<div class="container distrofilters">
  <div class="row">
    <div class="col-md-12">
      <div class="input_group distrolist" >
        <label>Select linux distribution:</label>
        <!--<span><label><input id="chkAll" type="checkbox" value="">All</label></span>-->
        <span ng-repeat="all_rec in all">
          <span ng-repeat="os_name in os_list">
            <input type="checkbox"   ng-model="all.value" ng-if="os_name.type === 'All'"  ng-click="tickUntick($event);" id="chkAll" />
            <input type="checkbox"  ng-model="os_name.value"  ng-checked="all.value" ng-if="os_name.type !== 'All'" ng-click="tickUntick($event);" />
            <label for="{{os_name.type}}"  ng-if="os_name.type !== 'All'">{{os_name.type}}</label>
            <label for="{{all.type}}"  ng-if="os_name.type === 'All'" >{{os_name.type}}</label>
          </span>
        </span>
      </div>
      <div class="input-group searchbuttons">
        <input type="text" id="searchtext" class="form-control" style="width:200px;" autocomplete="on" placeholder="Enter Package Name" ng-model="package_name" ng-keyup="searchPackages(null,'searchtext',false);" />
        <input type="button" id="fuzzySearch" class="btn btn-small btn-primary" value="Search Fuzzy" title="package Name in search should be more than two characters long" ng-click="searchPackages(null, 'fuzzySearch',false);" ng-disabled="package_name.length <= 2" />
        <a class="btn btn-small btn-info"  href="javascript:void(0);" ng-click="searchPackages(null, 'exactSearch', true);" ng-hide="package_name.length <= 0">Search Exact</a>
      </div>
      <div class="h6">         
        <summary><label id="help_text">Enter the name of the package or at least three characters to enable pattern search.  Wildcard ('*') can be used either before or after the search keywords. </label></summary>
        <summary><label id="error_message" ng-model="error_message"  ng-show="error_message.length > 0" style="color:red;">{{ error_message }}</label></summary>
      </div> 
      <!--
      <pre>{{ }}</pre>
      -->
    </div>
  </div>
</div>
<!-- Begin page content -->
<div class="container-fluid" ng-show="current_set.length > 0">
  <div class="row">
    <div class="col-sm-3 sidebar" > <!--sidebar  style="margin-top:200px;" -->
      <div class="list-group">
        <label class="list-group-item active">Refine Results:</label>
        <input id="refinesearch" type="text" class="list-group-item form-control" name="msg" placeholder="Enter package name">
        <label class="list-group-item active">Filter by version:</label>
        <label class="list-group-item list-group-item-info">Ubuntu</label>
        <label class="list-group-item"><input type="checkbox" value="">16.04</label>
        <label class="list-group-item"><input type="checkbox" value="">16.10</label>
        <label class="list-group-item"><input type="checkbox" value="">17.04</label>
        <label class="list-group-item list-group-item-info">Debian</label>
        <label class="list-group-item"><input type="checkbox" value="">5</label>
        <label class="list-group-item"><input type="checkbox" value="">6</label>
        <label class="list-group-item"><input type="checkbox" value="">7</label>
        <label class="list-group-item"><input type="checkbox" value="">8</label>
        <label class="list-group-item"><input type="checkbox" value="">9</label>
        <label class="list-group-item list-group-item-info">Fedora</label>
        <label class="list-group-item"><input type="checkbox" value="">25</label>
        <label class="list-group-item list-group-item-info">CentOS</label>
        <label class="list-group-item"><input type="checkbox" value="">7</label>
        <label class="list-group-item list-group-item-info">RHEL</label>
        <label class="list-group-item"><input type="checkbox" value="">6.8</label>
        <label class="list-group-item"><input type="checkbox" value="">7.1</label>
        <label class="list-group-item"><input type="checkbox" value="">7.2</label>
        <label class="list-group-item"><input type="checkbox" value="">7.3</label>
        <label class="list-group-item list-group-item-info">SLES</label>
        <label class="list-group-item"><input type="checkbox" value="">Server 11 SP4</label>
        <label class="list-group-item"><input type="checkbox" value="">Server 12 SP1</label>
        <label class="list-group-item"><input type="checkbox" value="">Server 12 SP2</label>
        <label class="list-group-item list-group-item-info">SUSE Package Hub</label>
        <label class="list-group-item"><input type="checkbox" value="">SLES Server 12 SP1</label>
        <label class="list-group-item"><input type="checkbox" value="">SLES Server 12 SP2</label>
      </div>
    </div>
    <div class="col-sm-9 main" >
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="info">
              <th>Package Name</th>
              <th>Version</th>
              <th>Distro</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>package1</th>
              <th>1.1</th>
              <th>RHEL(6.8, 7.3)<br/>Ubuntu(16.04, 16.10)</th>
              <th>Description</th>
            </tr>
            <tr>
              <th>package1</th>
              <th>1.2</th>
              <th>RHEL(7.1, 7.2, 7.3)<br/>Ubuntu(17.04)</th>
              <th>Description</th>
            </tr>
            <tr>
              <th>package2</th>
              <th>1.1</th>
              <th>RHEL(6.8, 7.3)<br/>Ubuntu(16.04, 16.10)</th>
              <th>Description</th>
            </tr>
            <tr>
              <th>package2</th>
              <th>1.2</th>
              <th>RHEL(7.1, 7.2, 7.3)<br/>Ubuntu(17.04)</th>
              <th>Description</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>